/*Tablets- Portrait Mode*/
@media screen and (max-width: 768px) {
    [aria-controls="navDropdown"] {
        display: block;
    }

    [aria-expanded="false"] ~ ul {
        display: none;
    }

    [aria-expanded="true"] ~ ul {
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
        position: absolute;
        top: 10rem;
        left: 0;
        right: 0;
        background-color: var(--white);
        box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.25);
        z-index: 200;
        gap: var(--size-10);
        padding-bottom: var(--size-20);
    }

    .sticky { padding: 13%; }

    #empowering { 
        justify-content: center;
        margin: var(--size-100); 
    }

    .empowerL { 
        margin-bottom: var(--size-30);
        max-width: 30rem;
    }

    .empowerR { max-width: 100%; }

    .front-bottom {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .front-card {
        width: 100%;
        max-width: 50%;
        margin: auto;
        gap: 10px;
        flex-direction: row;
    }

    .fcard-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: fit-content;
        align-items: center;
    }

    .clear-line hr {
        width: 0;
        min-width: 2px;
    }

    .line {
        width: 0;
        min-width: 2px;
    }

    .line hr {
        height: var(--size-30);
        border: 1px solid rgb(239, 241, 247);
        width: 0px;
        margin: 0%;
    }

    .front-text p{ margin-bottom: 0; }

    #hire { margin: 0; }

    .price-grid { grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); }

}


/*Large Phones*/
@media screen and (max-width: 425px) {
    body {
        width: 160vw;
    }

    .gradient {
        padding: 2rem;
    }

    .price-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    #prefooter {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }
}

/*Medium Phones*/
@media screen and (max-width: 375px) {
    body {
        width: 220vw;
    }

    .gradient {
        padding: 2rem;
    }
}

/*Small Phones*/
@media screen and (max-width: 320px) {
    body { 
        width: 180vw;
    }

    .gradient {
        padding: 1rem;
    }

    .top p {
        max-width: fit-content;
    }

    .footer-top {
        justify-content: space-around;
    }

    .front-bottom {
        padding: 0;
    }
}